body{
  background-color: peru;
}


header{
  margin: 40px 0;
  
}

main{
  display:flex;
  background-color: plum;
}




.areaIngresoTexto textarea {
  text-align: center;
  resize: none;
  font-size: 32px;
  color: #0A3871;
  border:none;
  background-color: #E5E5E5;
  border: none;
  appearance: none;
  width: 770px;
  height: 360px;
 }
.areaIngresoTexto p{
  color:gray;
  font-size: 12px;
  line-height: 150%;
}
.buttonsPrincipales input{
 margin-left: 20px;
}

.buttonCodificar{
  background-color: #0A3871;
  width: 328px;
  color:#ffffff;
}

.buttonDecodificar{
  background-color:#E5E5E5;
  width: 328px;
  color:#0A3871;
}

/*Area de test*/
/*--------------------------------------------------------*/

.areaIngresoTexto{
  background-color:greenyellow;
}
.areaSalidaTexto {
  background-color:lightcoral;
}

/*--------------------------------------------------------*/
/*Area de test*/
  